/* src/App.css */

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  flex: 1;
  /* padding: 20px; */
  /* Pas de marge à gauche par défaut */
}

@media (max-width: 1025px) {
  .main-content {
    margin-left: 0;
    /* Assure que la version mobile n'a pas de marge gauche */
  }
}
