@font-face {
  font-family: "roboto";
  src: url("../../assets/fonts/roboto.ttf") format("truetype");
}

.container-carte {
  padding: 3.4em 0;
  text-align: center;
}
.carte-leaflet {
  margin: 0 auto;
  max-width: 100%; /* Limite la largeur de l'image à celle de son conteneur */
  height: auto; /* Maintient le ratio d'aspect */
  display: block; /* Supprime les espaces blancs autour des images */
}
.streetArtPhotos img {
  max-width: 100%; /* Limite la largeur de l'image à celle de son conteneur */
  height: auto; /* Maintient le ratio d'aspect */
  display: block; /* Supprime les espaces blancs autour des images */
  margin: 0 auto; /* Centre l'image horizontalement si elle est plus petite */
}
.titre-photos {
  font-family: "roboto_bold", sans-serif;
}
.content-photos {
  font-family: "roboto", sans-serif;
}
