/* === Définition des polices === */
@font-face {
  font-family: "pixeleum";
  src: url("../../assets/fonts/pixeleum-48.ttf") format("truetype");
}
.user {
  display: flex;
  flex-direction: column;
}
.fond {
  margin-top: 11em;
  background: url("../../assets/images/backgroundstars.jpg") center / cover
    fixed;
  height: 50em;
}
.user h2 {
  font-family: "pixeleum", sans-serif;
  color: #fad009;
  font-size: 1.5em;
}
