@font-face {
  font-family: "pixeleum";
  src: url("../../assets/fonts/pixeleum-48.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: url("../../assets/fonts/roboto.ttf") format("truetype");
}

@font-face {
  font-family: "roboto_bold";
  src: url("../../assets/fonts/roboto_bold.ttf") format("truetype");
}

.loginPage {
  background: url("../../assets/images/backgroundstreet.jpg") center / cover
    fixed;
  color: white;
  padding: 13em 1.5em 3em;
}

#logo {
  width: 15em;
  margin-left: 2.5em;
}
.signup_button,
.login_button {
  font-size: x-small;
  background-color: #ed2ea5;
  font-family: "pixeleum", sans-serif;
  color: white;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: solid white 1px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  cursor: pointer;
}

.login_button {
  padding-right: 7.5em;
  padding-left: 7.5em;

  font-size: 0.9em;
}
.signup_button {
  background-color: #6e7dc9;
  padding-right: 5.25em;
  padding-left: 5.25em;
  font-size: 0.9em;
  margin-bottom: 1em;
  margin-top: 0.75em;
}

.label2,
.text_login,
.input_passeword {
  font-family: "pixeleum", sans-serif;
}

.input_email,
.input_passeword {
  color: #ed2ea5;
  font-family: "roboto_bold", sans-serif;
}

input::placeholder {
  color: #888;
  font-family: "roboto", sans-serif;
}

#text_password {
  font-size: x-small;
  text-align: right;
  padding-bottom: 2em;
}

.email {
  text-align: left;
  font-family: "pixeleum", sans-serif;
}

input {
  font-size: x-small;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: solid white 1px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  cursor: pointer;
  padding-right: 17em;
  padding-top: 0.75em;
}

.text_visitor {
  text-align: center;
  font-family: "pixeleum", sans-serif;
  font-size: 0.75em;
}
