@font-face {
  font-family: "pixeleum";
  src: url("../../assets/fonts/pixeleum-48.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: url("../../assets/fonts/roboto.ttf") format("truetype");
}

@font-face {
  font-family: "roboto_bold";
  src: url("../../assets/fonts/roboto_bold.ttf") format("truetype");
}

.MdpOublie {
  background: url("../../assets/images/backgroundstreet.jpg") center / cover
    fixed;
  color: white;
  /* -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black; */
  padding: 24em 1.5em 24em;
  font-family: "pixeleum", sans-serif;
  margin: 0;
  padding-top: 0;
}

#logo_login {
  width: 15em;
  padding-top: 3em;
}

h2 {
  color: white;
  text-align: center;
  padding: 1em;
}

.formulaire {
  margin-top: 3em;
}

.passeword_forget_button {
  background-color: #6e7dc9;
  color: white;
  font-size: 0.8em;
  margin-top: 0.75em;
  font-family: "pixeleum", sans-serif;
  margin-bottom: 5px;
  padding: 0.4em 1.2em;
  border: solid white 1px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  cursor: pointer;
}
